form.search {
  overflow: auto;
  margin-bottom: 30px;
  margin-top: 20px;

}
form.search label {
  padding-right: 15px;
  padding-left: 480px;
  size: 15px;
  
}
th {
  width: 300px;
}
table{
  font-family: cursive;
  border-collapse: collapse;
  height: 10px;
  padding: 20px;
  font-size: 20px;
  width: auto;
  text-align: center;
}

tr:nth-child(even) {
  background-color: darksalmon;
}
